<li>
  <div class="twelve columns offset-by-two">
    <h4><a href="<%= team_news["links"]["web"]["href"] %>" target="_blank"><%= team_news["headline"] %><br></a></h4>
    <p>
      <%= team_news["description"] %>
    </p>
    <% if team_news["images"] && team_news["images"][0] %>
      <img src="<%= team_news["images"][0]["url"] %>" alt="" />
    <% end %>
    <% if team_news["video"] && team_news["video"][0] %>
      <video src="<%= team_news["video"][0]["links"]["source"]["mezzanine"]["href"] %>" controls>
      </video>
      <img src="" alt="" />
    <% end %>
    <a href="<%= team_news["links"]["web"]["href"] %>" target="_blank" class="read-more">Read More...</a>
  </div>
</li>
<% sleep(1) %>
